<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/foot.css" />
	</head>
	<body>-->
		<div id="foot_up">
			<div id="foot_up_center">
				<div class="foot_up1">
					<ul>
						<li class="exp">新手帮助</li>
						<li><a href="#">正品保证</a></li>
						<li><a href="#">玩转乐淘</a></li>
						<li><a href="#">常见问题</a></li>
						<li><a href="#">优惠指南</a></li>
					</ul>
				</div>
				<div class="foot_up1">
					<ul>
						<li class="exp">购物指南</li>
						<li><a href="#">尺码选择</a></li>
						<li><a href="#">发货时间</a></li>
						<li><a href="#">配送运费</a></li>
						<li><a href="#">签收/验货</a></li>
					</ul>
				</div>
				<div class="foot_up1">
					<ul>
						<li class="exp">支付配送</li>
						<li><a href="#">货到付款</a></li>
						<li><a href="#">网上支付</a></li>
						<li><a href="#">配送时间</a></li>
						<li><a href="#">配送查询</a></li>
					</ul>
				</div>
				<div class="foot_up1">
					<ul>
						<li class="exp">售后服务</li>
						<li><a href="#">退换货政策</a></li>
						<li><a href="#">退换货办理</a></li>
						<li><a href="#">退款说明</a></li>
					</ul>
				</div>
				<div class="foot_up1">
					<ul>
						<li class="exp">会员服务</li>
						<li><a href="#">建议反馈</a></li>
						<li><a href="#">CEO邮箱</a></li>
					</ul>
				</div>
				<div class="foot_up1">
					<ul>
						<li>7*12小时电话</li>
						<li class="photo_red">400-0022-188</li>
						<li><a href="#"><span id="contact">联系乐陶</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="foot_center">
			<a href="#">了解乐淘</a>
			|
			<a href="#">联系乐淘</a>
			|
			<a href="#">媒体报道</a>
			|
			<a href="#">版权声明</a>
			|
			<a href="#">友情链接</a>
			|
			<a href="#">加入乐淘</a>
			|
			<a href="#">网站联盟</a>
			|
			<a href="#">商务合作</a>
			|
			<a href="#">网站导航</a>
			|
			<a href="#">分类大全</a>
			|
			<a href="#">问题大全</a>
		</div>
		<div id="foot_down">
			Copyright © 2008-2015 Letao Inc.乐淘网 版权所有  
			
			买鞋子
			
			上乐淘
			
			<a class="a4" href="#">粤ICP备14019125号<a href="#">
		</div>
	<!--</body>
</html>-->
