<!--<!DOCTYPE html>-->
<!--<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="../css/head.css"/>
	</head>
	<body>-->
		<div id="head"><!--顶部-->
			<div id="head_left"><!--顶部左导航-->
				<ul>
					<li class="send noheid">送至：<span class="address">▼</span>
					  <div id="province">
						<ul>
							<li>北京</li>
							<li>上海</li>
							<li>天津</li>
							<li>河北</li>
							<li>山西</li>
							<li>河南</li>
							<li>辽宁</li>
							<li>黑龙江</li>
							<li>内蒙古</li>
							<li>江苏</li>
							<li>山东</li>
							<li>安徽</li>
							<li>浙江</li>
							<li>福建</li>
							<li>湖北</li>
							<li>湖南</li>
							<li>广东</li>
							<li>广西</li>
							<li>江西</li>
							<li>四川</li>
							<li>海南</li>
							<li>贵州</li>
							<li>云南</li>
							<li>西藏</li>
							<li>陕西</li>
							<li>甘肃</li>
							<li>青海</li>
							<li>宁夏</li>
							<li>新疆</li>
							<li>台湾</li>
							<li>香港</li>
							<li>澳门</li>
						</ul>
				     </div>
					</li>
					<li>|</li>
					<li><a class="a1" href="#">★收藏</a></li>
					<li>|</li>
					<li class="erweim noheid"><a class="a1" href="#">♡关注</a>
					  <div id="QR_code">
					  	<img src="img/QRcode.jpg"/>
					  </div>
					</li>
				</ul>
			</div><!--顶部左导航结束-->
			<div id="head_right"><!--顶部右导航-->
				<ul>
					<li><a class="a1" href="entry.html">请登录</a></li>
					<li>|</li>
					<li><a class="a1" href="register.html">免费注册</a></li>
					<li>|</li>
					<li class="myLT noheid"><a class="a1" href="#">我的乐淘▼</a>
					  <div id="myLeTao0">
					  	<ul>
					  		<li><a class="a1" href="#">我的订单</a></li>
					  		<li><a class="a1" href="#">商品评价</a></li>
					  		<li><a class="a1" href="#">咨询回复</a></li>
					  		<li><a class="a1" href="#">我的优惠券</a></li>
					  		<li><a class="a1" href="#">申请售后服务</a></li>
					  		<li><a class="a1" href="#">修改密码</a></li>
					  		<li><a class="a1" href="#">收货地址</a></li>
					  		<li><a class="a1" href="#">鞋码换算</a></li>
					  	</ul>
					  </div>
					</li>
					<li>|</li>
					<li><a class="a1" href="shop_cart.html">♑购物车</a></li>
					<li>|</li>
					<li class="new noheid">✉消息
						<div id="news">
					      <ul>
					    	<li>最新公告(9)</li>
					    	<li>订单提醒(0)</li>
					    	<li>评价提醒(0)</li>
					      </ul>
						</div>
					</li>
				</ul>
			</div><!--顶部右导航结束-->
		</div><!--顶部结束-->
		<div id="advertise"><!--广告-->
			<img src="img/advertise1.jpg"/>
		</div><!--广告结束-->
		<div id="logo"><!--logo-->
			<ul>
				<li>
					<a href="index.html"><img src="img/Logo.png"/></a>
				</li>
				<li>
					<input type="text" id="search" placeholder="请您输入想要搜索的关键词" />
					<div id="deter">搜 索</div>
			        <div id="ready">
			        	热门搜索：<a class="a1" href="#">休闲鞋</a> <a class="a1" href="#">运动鞋</a> <a class="a1" href="#">商务鞋</a> <a class="a1" href="#">户外鞋</a> <a class="a1" href="#">帆布鞋</a>
			        </div>
				</li>
				<li class="bg bg1">
					
				</li>
				<li class="li2"><a href="#">厂家直供<br />正品保证</a></li>
				<li class="bg bg2">
					
				</li>
				<li class="li2"><a href="#">七天退换货<br />购物有保障</a></li>
				<li class="bg bg3">
					
				</li>
				<li class="li2"><a href="#">满149包邮<br />闪电发货</a></li>
			</ul>
		</div><!--logo结束-->
		
        	<div id="nav"><!--导航栏开始-->
			  <ul class="dhl">
				<li class="select titl allgoods">所有商品分类∨
				<div id="classify">
					<div class="shose girl_shose">
						<div class="shose_1">
							女鞋
						</div>
						<div class="shose_2">
							<span class="sh_right">
								<a href="#">＞</a>
							</span>
						</div>
						<div class="shose_3">
							<ul class="shose_sh3 pppooo">
								<li class="shose_sh3_1"><a class="a1" href="#">单鞋</a></li>
								<li class="shose_sh3_1"><a class="a1" href="#">短靴</a></li>
								<li class="shose_sh3_1"><a class="a1" href="#">马丁鞋</a></li><br />
								<li class="shose_sh3_1"><a class="a1" href="#">长靴</a></li>
								<li class="shose_sh3_1"><a class="a1" href="#">凉拖</a></li>
								<li class="shose_sh3_1"><a class="a1" href="#">凉鞋</a></li>
						    </ul>
						</div>
						<div class="shose_warp1">
							<div class="brand">
								<span class="brand_left">
									品牌：
								</span>
							</div>
							<ul class="brand_name">
								<li><span class="sh_name"><a class="a1" href="#">啸行安</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">Red dream lover</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">ROBINLO&amp;CO</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">PathFinder</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">GOGOFLATS</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">LOVE BAR</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">英菲特</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">克萝黛资</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">D&amp;J</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">OVENUS</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">BEAUTODAY</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">莫蕾蔻蕾</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">BEAU</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">莱卡金顿</a></span></li>
							</ul>
							<div class="design">
								<span class="brand_left">
									款式：
								</span>
							</div>
							<ul class="design_style">
								<li><span class="sh_name"><a class="a1" href="#">休闲皮鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">单鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">靴子</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">凉鞋</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">凉拖</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">短靴</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">凉靴</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">布鞋</a></span></li>
							</ul>
							<div class="heel">
							     <span class="brand_left">
									跟款：
								</span>
						    </div>
						    <ul class="heel_style">
								<li><span class="sh_name"><a class="a1" href="#">平底</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">低跟</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">高跟</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">厚底</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">粗跟</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">增高</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">超高跟</a></span></li>
						    </ul>
						    <div class="groom">
							    <span class="brand_left">
									热门推荐：
								</span>
						    </div>
							<ul class="groom_style">
								<li><span class="sh_name"><a class="a1" href="#">秋款女鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">尖头鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">豆豆鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">铆钉鞋</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">水晶鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">防水台</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">超轻底</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">复古风</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">糖果色</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">蝴蝶结</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">豹纹</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">欧美风</a></span></li>
							</ul>
						</div>	
					</div>
					<div class="shose boy_shose">
						<div class="shose_1">
							男鞋
						</div>
						<div class="shose_2">
							<span class="sh_right">
								<a href="#">＞</a>
							</span>
						</div>
						<div class="shose_3">
							<ul class="shose_sh3 pppooo">
								<li class="shose_sh3_1"><a class="a1" href="#">商务休闲</a></li>
								<li class="shose_sh3_1"><a class="a1" href="#">商务正装</a></li>
								<li class="shose_sh3_1"><a class="a1" href="#">休闲皮鞋</a></li>
						    </ul>
						</div>
						<div class="shose_warp2">
							<div class="brand">
								<span class="brand_left">
									品牌：
								</span>
							</div>
							<ul class="brand_name">
								<li><span class="sh_name"><a href="#">帝国奈克</a></span></li>
								<li><span class="sh_name"><a href="#">啸行安</a></span></li>
								<li><span class="sh_name"><a href="#">CLEEF</a></span></li>
								<li><span class="sh_name"><a href="#">APPLE/苹果</a></span></li><br />
								<li><span class="sh_name"><a href="#">PathFinder</a></span></li>
								<li><span class="sh_name"><a href="#">EGE</a></span></li>
								<li><span class="sh_name"><a href="#">LOVE BAR</a></span></li>
								<li><span class="sh_name"><a href="#">D&amp;J</a></span></li>
							</ul>
							<div class=" design">
								<span class="brand_left">
									款式：
								</span>
							</div>
							<ul class="design_style">
								<li><span class="sh_name"><a href="#">板鞋</a></span></li>
								<li><span class="sh_name"><a href="#">休闲鞋</a></span></li>
								<li><span class="sh_name"><a href="#">商务鞋</a></span></li>
								<li><span class="sh_name"><a href="#">休闲皮鞋</a></span></li><br />
								<li><span class="sh_name"><a href="#">单鞋</a></span></li>
								<li><span class="sh_name"><a href="#">靴子</a></span></li>
								<li><span class="sh_name"><a href="#">凉鞋</a></span></li>
								<li><span class="sh_name"><a href="#">凉拖</a></span></li><br />
								<li><span class="sh_name"><a href="#">拖鞋</a></span></li>
							</ul>
							<div class="groom">
							    <span class="brand_left">
									热门推荐：
								</span>
						    </div>
							<ul class="groom_style">
								<li><span class="sh_name"><a href="#">凉鞋</a></span></li>
								<li><span class="sh_name"><a href="#">超轻底</a></span></li>
								<li><span class="sh_name"><a href="#">圆头鞋</a></span></li>
								<li><span class="sh_name"><a href="#">方头鞋</a></span></li><br />
								<li><span class="sh_name"><a href="#">尖头鞋</a></span></li>
								<li><span class="sh_name"><a href="#">防臭透气</a></span></li>
								<li><span class="sh_name"><a href="#">牛皮</a></span></li>
								<li><span class="sh_name"><a href="#">英伦风</a></span></li>
							</ul>
						</div>
					</div>
					<div class="shose sport_shose">
						<div class="shose_1">
							运动休闲
						</div>
						<div class="shose_2">
							<span class="sh_right">
								<a href="#">＞</a>
							</span>
						</div>
						<div class="shose_3">
							<ul class="shose_sh3 pppooo">
								<li class="shose_sh3_1"><a class="a1" href="#">跑步鞋</a></span></li>
								<li class="shose_sh3_1"><a class="a1" href="#">潮流板鞋</a></span></li>
								<li class="shose_sh3_1"><a class="a1" href="#">户外鞋</a></span></li><br />
								<li class="shose_sh3_1"><a class="a1" href="#">篮球鞋</a></span></li>
								<li class="shose_sh3_1"><a class="a1" href="#">足球鞋</a></span></li>
								<li class="shose_sh3_1"><a class="a1" href="#">常青款</a></span></li>
						    </ul>
						</div>
						<div class="shose_warp3">
							<div class="brand">
								品牌：
							</div>
							<ul class="brand_name">
								<li><span class="sh_name"><a class="a1" href="#">LENSLOU</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">啸行安</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">耐克</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">阿迪达斯</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">匡威</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">三叶草</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">李宁</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">361度</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">LOVE BAR</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">劲越</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">鳄鱼恤</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">彪马</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">卡帕</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">乐斯菲斯</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">探路者</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">PathFinder</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">哥伦比亚</a></span></li>
							</ul>
							<div class=" design">
								款式：
							</div>
							<ul class="design_style">
								<li><span class="sh_name"><a class="a1" href="#">板鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">跑步鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">篮球鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">网球鞋</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">足球鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">训练鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">硫化鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">帆布鞋</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">休闲鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">徒步鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">登山鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">溯溪鞋</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">休闲皮鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">单鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">靴子</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">凉鞋</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">凉拖</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">户外鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">拖鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">羽毛球鞋</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">越野鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">雪地靴</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">健步鞋</a></span></li>
								<li><span class="sh_name"><a class="a1" href="#">滑板鞋</a></span></li><br />
								<li><span class="sh_name"><a class="a1" href="#">涉水鞋</a></span></li>
							</ul>
						</div>
					</div>
				</div>
				</li>
				<li class="titl tlt"><a class="a2" href="index.html">首页</a></li>
				<li class="titl tlt"><a class="a2" href="#">电商模特大赛</a></li>
				<li class="titl tlt"><a class="a2" href="#">女鞋</a></li>
				<li class="titl tlt"><a class="a2" href="#">男鞋</a></li>
				<li class="titl tlt"><a class="a2" href="#">运动休闲鞋</a></li>
				<li class="titl tlt"><a class="a2" href="#">B2B分销</a></li>
			 </ul>
		    </div><!--导航栏结束-->
		</div>    
	<!--</body>
</html>-->