<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/right.css" />
	</head>
	<body>-->
		<div id="right">
			<ul>
				<li class="MyLT MyLT1">☺
				  <div id="myLeTao">
				  	<div id="myLeTao_left">
				  		<ul>
					   		<li class="clause"><a class="a1" href="#">我的订单</a></li>
					   		<li class="clause"><a class="a1" href="#">商品评价</a></li>
					   		<li class="clause"><a class="a1" href="#">咨询回复</a></li>
					   		<li class="clause"><a class="a1" href="#">我的优惠券</a></li>
				   	    </ul>
				  	</div>
				   	<div id="myLeTao_right">
				   		<ul>
					   		<li class="clause"><a class="a1" href="#">申请售后服务</a></li>
					   		<li class="clause"><a class="a1" href="#">修改密码</a></li>
					   		<li class="clause"><a class="a1" href="#">收货地址</a></li>
					   		<li class="clause"><a class="a1" href="#">鞋码换算</a></li>
				   	    </ul>
				   	</div>
				  </div>
				</li>
				<li class="MyLT MyLTE">♑</li>
				<li class="MyLT MyLT2">▤
				   <div id="Myorder">
				   	  我的订单
				   </div>
				</li>
				<li class="MyLT MyLT3">☆
				   <div id="collect">
				   	  收藏网站
				   </div>
				</li>
				<li class="MyLT MyLT4">♥
				   <div id="erweima">
				   	  <img src="img/QRcode.jpg"/>
				   </div>
				</li>
				<li class="MyLT MyLT5">☏
				   <div id="trainingLT">
				   	      联系乐淘
				   </div>
				</li>
				<li class="MyLT MyLT6">▲
				   <div id="backTop">
				             返回顶部
				   </div>
				</li>
			</ul>
		</div>
	<!--</body>
</html>-->
